html {
    height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#root { 
  margin: 0px;
  height: 100%;
  width: 100%;
}

/*Bartender*/

.bar_queue_container {
  top: 10px;
  margin-bottom: 35px;
}

/*Bartenders Nav*/

.ui.inverted.menu .selectedNav {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid white;
}

.ui.inverted.menu .unselectedNav {
  background: transparent;
}

/*Done Orders*/

.done-orders {
  left: -12%;
  position: relative;
  margin-top: 35px;
}